
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
:root{
	--primary-color : #007BFF;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	display: none;
	}

body {
	font-family: 'Poppins', sans-serif;
}

.alert-fixed {
    position:fixed; 
    top: 0px; 
    left: 0px; 
    width: 100%;
    z-index:9999; 
    border-radius:0px
}

h5{
	padding-top: 0.8rem;
	font-size: 1rem !important;
}

.form-profile .soc {
	font-family: 'Poppins'FontAwesome, sans-serif;
}

.navbar {
	padding: 0 1rem;
}

.navbar a {
	font-size: 1.8rem;
	font-family: 'Poppins', sans-serif;
}

.navbar p {
	font-size: 0.6rem;
}

nav.nav-profile {
	margin: auto -15px;
	padding: 0.7rem 2rem;
	box-shadow: 0 2px 4px -1px rgba(0,0,0,.25);
}
.navbar-brand {
	margin-left: 1.5rem;
	margin-top: -0.5rem;
	margin-bottom: -0.5rem;
}
.nav-index{
	margin-left: 0;
	margin-top: -0.5rem;
}
.custom-toggler.navbar-toggler {
    border-color: transparent;
}
.custom-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,123,255, 0.7)' stroke-width='1' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
.navbar .nav-item {
	margin-top: 1rem;
	padding: 0 8px;
}

.navbar .nav-item p {
	font-size: 1rem;
	margin-top: -1rem;
	margin-bottom: -1rem;
}

.wave {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
	transform: rotate(-180deg);
}

.wave2 {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

.container {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 7rem;
	padding: 0 2rem;
	margin-top: -3em;
}

.container1 {
	display: block;
	width: 100%;
}

.container-profile {
	display: block;
	text-align: center;
	width: 100vh;
	height: 100vh;
	padding: 5rem 2rem;
	margin-top: -3em;
	margin: -3em auto 0;
}

.img {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.login-content {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.profile-content {
	max-width: 1100px;
	margin: auto;
	overflow: hidden;
	padding: 0 2rem;
	margin-top: 6rem;
	margin-bottom: 3rem;

}

.profile-content h2 {
	margin: 15px 0;
	color: #63686e;
	font-size: 2.9rem;
}

.profile-content .input-div {
	position: relative;
	display: grid;
	grid-template-columns: 7% 93%;
	margin: 25px 0;
	padding: 5px 0;
	border-bottom: 2px solid #eee;
}

.profile-content .input-div.one {
	margin-top: 0;
}

.img img {
	width: 500px;
}

form {
	width: 360px;
}

.login-content .form-control{
	font-size: 0.9rem;
}

form.profile {
	margin-top: 10%;
	width: 950px;
}

form.create-post {
	width: inherit;
}

.login-content img {
	height: 100px;
}

.login-content h2 {
	margin: 15px 0;
	color: #63686e;
	font-size: 2.5rem;
	font-family: 'Poppins', sans-serif;
}

.login-content .input-div {
	position: relative;
	display: grid;
	grid-template-columns: 7% 93%;
	margin: 25px 0;
	padding: 5px 0;
	border-bottom: 2px solid #eee;
}

.login-content .input-div.one {
	margin-top: 0;
}

.i {
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i {
	transition: .3s;
}

.input-div>div {
	position: relative;
	height: 45px;
}

.input-div>div>h5 {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

.input-div:before,
.input-div:after {
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #0099FF;
	transition: .4s;
}

.input-div:before {
	right: 50%;
}

.input-div:after {
	left: 50%;
}

.input-div.focus:before,
.input-div.focus:after {
	width: 50%;
}

.input-div.focus>div>h5 {
	top: -5px;
	font-size: 15px;
}

.input-div.focus>.i>i {
	color: #0099FF;
}

.input-div>div>input {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}

.input-div.pass {
	margin-bottom: 4px;
}

a {
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
}

a:hover {
	color: #0099FF;
}

.btn {
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background: #0099FF;
	background-size: 200%;
	font-size: 1.2rem;
	color: #eee;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}

.btn:hover {
	background-position: right;
}

.create-profile {
	text-align: left;
	margin: 15px 0 !important;
	color: #63686e;
	font-size: 2.rem;
}

.edit-heading {
	text-align: left;
	margin: 15px 0;
	color: #63686e;
	font-size: 1.5rem;
}

.form-text {
	display: block;
	margin-top: 0.3rem;
	color: #888888;
	text-align: left;
	margin-bottom: 0.3rem;
}

.form-check {
	margin-bottom: 0.3rem;
}

form .social-input {
	display: flex;
}

form .social-input i {
	padding: 0.5rem;
	width: 4rem;
}

form .social-input i.fa-twitter {
	color: #38a1f3;
}

form .social-input i.fa-facebook {
	color: #3b5998;
}

form .social-input i.fa-instagram {
	color: #3f729b;
}

form .social-input i.fa-youtube {
	color: #c4302b;
}

form .social-input i.fa-linkedin {
	color: #0077b5;
}

.form-row {
	margin-top: 2%;
}

form .lead p {
	font-size: 2.0rem;
}

.go-back {
	border: 2px solid #0099FF;
	background-color: #eee;
	color: #0099FF;
}

.go-back:hover {
	border: 1px solid #0099FF;
	background-color: transparent;
	color: #0099FF;
}

.dash {
	text-align: left;
	margin: 17% 0;
	color: #63686e;
	font-size: 2.rem;
	width: 950px;
}

.posts-dash {
	margin-top: 17% !important;
}

.dash-buttons .dash-edit {
	width: 100%;
	font-size: 0.9rem;
	background-color: #eee;
	color: #0099FF;
}

.dash-buttons .dash-edit:hover {
	border: 1px solid #0099FF;
	background-color: transparent;
	color: #0099FF;
}

.dash-buttons .dash-edit1 {
	width: 100%;
	font-size: 0.9rem;
	background-color: #0099FF;
	color: #fff;
}
.dash-buttons .dash-edit1:hover {
	border: 1px solid #0099FF;
	background-color: transparent;
	color: #0099FF;
}


table th {
	padding: 1rem;
	text-align: left;
}

.table th {
	background: #fff;
}

.card-body {
	padding-bottom: 0rem !important;
}

button.post-btn {
	margin-top: -0.5%;
	padding-top: -1rem !important;
}

button.del {
	margin-top: -5.5%;
	background: transparent;
	color: #e84a5f;
	border: 0px solid #e84a5f;
}

button.del:hover {
	border: 1px solid #e84a5f;
	background: transparent;
	color: #e84a5f;
}

button.btn-danger:hover {
	border: 1px solid #e84a5f;
	background: transparent;
	color: #e84a5f;
}

button.delacc {
	margin-top: -5.5%;
	background: transparent;
	color: #e84a5f;
	font-size: 0.9rem;
	border: 1px solid #e84a5f !important;
}

button.delacc:hover {
	background: #e84a5f;
	color: #fff;
}
.post-form /*.post-form-header*/ {
	/* background: #007BFF; */
	padding: 0.5rem;
	transition: transform .4s ease;
}
.post-form:hover{
	transform: scale(1.01);
}
  
  .post {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-gap: 2rem;
	align-items: center;
  }
  
  .post > div:first-child {
	text-align: center !important;
  }
  
  .post img {
	width: 100px;
	text-align: center;
  }
  
  .post .comment-count {	
	color: #007BFF;
	padding: 0.1rem 0.2rem;
	border-radius: 5px;
	font-size: 0.8rem;
  }
  
  .post .post-date {
	color: #aaa;
	font-size: 0.8rem;
	margin-bottom: 0.5rem;
  }

.round-img {
	border-radius: 50%;
	width: 100px;
}
/* .profile-img{
	margin-right: 5%;
} */
.profile-name{
	text-align: center;
}
.profile-name:hover{
	text-decoration: none;
}

h5.post-username {
	display: block;
	margin-block-start: 1.33em;
	margin-block-end: 1.33em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
	text-decoration: none;
}

.like-btn{
	display: inline-block;
	color: #333;
	padding: 0.4rem 1.3rem;
	font-size: 1rem;
	border: none;
	cursor: pointer;
	margin-right: 0.5rem;
	transition: opacity 0.2s ease-in;
	outline: none;
}

.back-post{
	margin-left: 0.9rem;
	width: 70% !important;
	font-size: 0.8rem !important;
}

.bg-white{
  background: #fff;
  color: #333;
  border: #DFDFDF solid 1px;
  margin: 1rem 0.9rem;
  padding: 1rem ;
}

.lk-btn{
	display: inline-block;
	background: #fff;
	color: #888888;
	padding: 0.4rem 1.3rem;
	font-size: 1rem;
	border: none;
	cursor: pointer;
	margin-right: 0.5rem;
	transition: opacity 0.2s ease-in;
	outline: none;
}
.lk-btn:hover{
	background: #eee;
	border-radius: 10%;
	color: var(--primary-color);
}

.comment{
	width: 520% !important;
}

.profile {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .profile ul {
    display: none;
  }

.profile-card{
	width: 18rem; 
	margin: 1rem;
	padding: 1rem;
	transition: transform .4s ease;
}
.profile-card:hover{
	transform: scale(1.01);
}

.view-profile{
	font-size: 0.8rem !important;
}

.profile-grid {
	display: grid;
	grid-template-areas:
	  'top top'
	  'about about'
	  'exp edu'
	  'github github';
	grid-gap: 1rem;
	margin: 6rem 0 0 0 ;
  }
  
  .profile-top {
	grid-area: top;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background : #f4f6ff ;
	padding: 2rem;
  }
  .profile-top img {
	width: 250px;
  }
  
  .profile-top .icons a {
	color: #3f3f44;
	margin: 0 0.3rem;
	padding: 0 1rem;
  }
  
  .profile-top .icons a:hover {
	color: #007BFF;
  }

  .skill-container{
	  width: 70% !important;
	  text-align: center;  
  }

  .name{
	color: #007BFF;
  }

  i.verified{
	  font-size: 1.8rem;
	  padding: auto;
  }

  .skill-set{
	  font-size: 1.1rem;
  }
  .skill-set .name{
	  padding : 1rem 1rem;
  }

.exp-edu{
	text-align: left;
	font-weight: 350;
}

.exp-edu > div {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: #eee 1px solid;
}

.exp-edu > div:last-child {
  border: 0;
}

.exp-edu h4.name{
	margin-bottom: 1.5rem;
}

.profile-github .repo {
	display: flex;
  }
  
  .profile-github .repo > div:first-child {
	flex: 7;
	flex-basis: 70%;
  }
  
  .profile-github > div:last-child {
	flex: 3;
	flex-basis: 20%;
  }
div.github-repos{
	margin-left: 0.05rem;
	width: 100%;
}

.profiles{
	margin-top: 7% !important;
	margin-left: 15% !important;
}
.profiles-heading{
	margin-left: 3% !important;
}

@media screen and (max-width: 1200px) {
	.container {
		grid-gap: 5rem;
	}
	.profiles{
		margin-top: 7% !important;
		margin-left: 5% !important;
	}
}

@media screen and (max-width: 1050px) {
	.container {
		grid-gap: 5rem;
	}
	.profiles{
		margin-top: 7% !important;
		margin-left: 5% !important;
	}
}

@media screen and (max-width: 1000px) {
	.profiles{
		margin-top: 15% !important;
		margin-left: 5% !important;
	}
	form {
		width: 290px;
	}

	.dash {
		margin-top: 20%;
		width: 100%;
	}

	form.profile {
		margin-top: 20%;
		width: 100%;
	}

	.login-content h2 {
		font-size: 2.4rem;
		margin: 8px 0;
		color: #63686e;
	}

	.img img {
		width: 400px;
	}

	.hide-sm {
		display: none;
	}
}



@media screen and (max-width: 900px) {
	.container {
		grid-template-columns: 1fr;
		margin-top: -5em;
	}
	.title{
		text-align: center !important;
		color: #f4f6ff !important;
	}
	.home{
		margin-top: 150px !important;
	}

	.img {
		display: none;
	}

	.posts-dash {
		margin-top: 100%;
	}

	.dash{
		margin-top: 55%;
		width: 100%;
	}

	form.profile {
		margin-top: 100px;
		width: 100%;
	}

	.login-content h2 {
		text-align: left;
		margin: 15px 0;
		color: #63686e;
		font-size: 2.9rem;
	}

	.login-content {
		justify-content: center;
	}

	.hide-sm {
		display: none;
	}
	.post {
		grid-template-columns: 1fr;
	  }
	  .post a,
	  .post button {
		padding: 0.3rem 0.4rem;
	  }
	.back-post{
		margin-left: 0.9rem;
		width: 50% !important;
		font-size: 0.8rem !important;
	}
	.comment{
		width: 100% !important;
	}
	.profile-top .icons a {
		color: #3f3f44;
		margin: 0 0.3rem;
		padding: 0 0.4rem;
	  }
	.verified{
		width: 25px !important;
		padding-bottom: 0.4rem;
	}
	.skill-container{
		width: 100% !important;
		text-align: center;  
	}
	.profiles{
		margin-top: 10% !important;
		margin-left: -1% !important;
	}
}

@media screen and (max-width: 768px) {
	.profiles{
		margin-top: 20% !important;
		margin-left: 4% !important;
	}
}

@media screen and (max-width: 576px) {
	.profiles{
		margin-top: 20% !important;
		margin-left: -4% !important;
	}
	.profiles-heading{
		margin-left: 10% !important;
	}
}